<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>


	<!-- SqlSessionTemplate 생성 시 적용될 설정 작성 부분 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭 작성 부분 -->
	<!-- VO클래스의 패키지명 + 클래스명 작성하는 것이 불편하기 때문에 짧은 별칭 부여 -->
	<typeAliases>
		<typeAlias type="edu.kh.bubby.member.model.vo.Member" alias="Member" /> 
		<typeAlias type="edu.kh.bubby.creater.model.vo.Creater" alias="Creater" /> 
		
		<!-- 온라인 클래스 -->
		<typeAlias type="edu.kh.bubby.online.model.vo.Attachment" alias="OnAttachment" /> 
		<typeAlias type="edu.kh.bubby.online.model.vo.ReviewAttachment" alias="ReviewAttachment" /> 
		<typeAlias type="edu.kh.bubby.online.model.vo.Category" alias="OnCategory" /> 
		<typeAlias type="edu.kh.bubby.online.model.vo.Online" alias="Online" /> 
		<typeAlias type="edu.kh.bubby.online.model.vo.Pagination" alias="OnPagination" /> 
		<typeAlias type="edu.kh.bubby.online.model.vo.Search" alias="OnSearch" /> 
		
		<!-- 오프라인 클래스 -->
		<typeAlias type="edu.kh.bubby.offline.model.vo.OffPagination" alias="OffPage"/>
		<typeAlias type="edu.kh.bubby.offline.model.vo.OffAttachment" alias="OffAttachment"/>
		<typeAlias type="edu.kh.bubby.offline.model.vo.OffCategory" alias="OffCategory"/>
		<typeAlias type="edu.kh.bubby.offline.model.vo.OfflineClass" alias="OfflineClass"/>
		<typeAlias type="edu.kh.bubby.offline.model.vo.OffSearch" alias="OffSearch"/>
		
		<!-- 온라인 공지사항, 수강문의, 수강후기, 찜하기(like)-->
		<typeAlias type="edu.kh.bubby.online.model.vo.Notice" alias="OnNotice" />
		<typeAlias type="edu.kh.bubby.online.model.vo.OnReply" alias="OnReply" />
		<typeAlias type="edu.kh.bubby.online.model.vo.OnReview" alias="OnReview" />
		<typeAlias type="edu.kh.bubby.online.model.vo.OnLike" alias="OnLike" />
		
		<!-- 오프라인 수강문의, 수강후기 -->
		<typeAlias type="edu.kh.bubby.offline.model.vo.OffReply" alias="OffReply"/>
		<typeAlias type="edu.kh.bubby.offline.model.vo.OffReview" alias="OffReview"/>
		<typeAlias type="edu.kh.bubby.offline.model.vo.OffReviewAttachment" alias="OffReviewAttachment"/>
		
	</typeAliases>
	
	<!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />  
		<mapper resource="/mappers/creater-mapper.xml" />  
	  <mapper resource="/mappers/online-mapper.xml" />
	  <mapper resource="/mappers/offline-mapper.xml" />
	  <mapper resource="/mappers/onNotice-mapper.xml" />
	  <mapper resource="/mappers/onReply-mapper.xml" />
	  <mapper resource="/mappers/onReview-mapper.xml" />
	  <mapper resource="/mappers/onLike-mapper.xml" />
	  <mapper resource="/mappers/offReply-mapper.xml" />
	  <mapper resource="/mappers/offReview-mapper.xml" />
	</mappers>

</configuration>
