<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />


		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberGrade" column="MEMBER_GRADE" />
		<result property="memberRegdate" column="MEMBER_REGDATE" />
		<result property="memberProfile" column="MEMBER_PROFILE" />
		<result property="memberStatus" column="MEMBER_STATUS" />

	</resultMap>


	<!-- Pagination용 resultMap -->
	<resultMap type="OnPagination" id="pg_rm">
		<result property="listCount" column="CNT" />
		<result property="className" column="CLASS_TYPE_NAME" />
		<result property="reserveStatus" column="RESERVE_STATUS" />
		<result property="classStatus" column="CLASS_STATUS" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="classNo" column="CLASS_NO" />


	</resultMap>

	<!-- 결제용 -->
	<resultMap type="Payment" id="pay_rm">
		<result property="paymentNo" column="PAYMENT_NO" />
		<result property="paymentDate" column="PAYMENT_DT" />
		<result property="paymentAmount" column="PAYMENT_AMOUNT" />
		<result property="paymentStatus" column="PAYMENT_STATUS" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="classNo" column="CLASS_NO" />
		<result property="categoryNm" column="CATEGORY_NAME" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="classTitle" column="CLASS_TITLE" />
		<result property="classTypeNo" column="CLASS_TYPE_NO" />
		<result property="classCreateDate" column="CLASS_CREATE_DT" />

	</resultMap>

	<!-- 예약 조회용 -->
	<resultMap type="Reserve" id="res_rm">
		<result property="reserveNo" column="RESERVE_NO" />
		<result property="reserveDate" column="RESERVE_DT" />
		<result property="reserveStart" column="RESERVE_START" />
		<result property="reserveEnd" column="RESERVE_END" />
		<result property="reserveLimit" column="RESERVE_LIMIT" />
		<result property="classLevel" column="CLASS_LEVEL" />
		<result property="ClassArea" column="CLASS_AREA" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="classNo" column="CLASS_NO" />
		<result property="reserveStatus" column="RESERVE_STATUS" />
		<result property="categoryNm" column="CATEGORY_NAME" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="classTitle" column="CLASS_TITLE" />
		<result property="classTypeNo" column="CLASS_TYPE_NO" />
		<result property="classCreateDate" column="CLASS_CREATE_DT" />
	</resultMap>

	<!-- 리뷰 조회 -->
	<resultMap type="Review" id="review_rm">
		<result property="reviewNo" column="REVIEW_NO" />
		<result property="reviewContent" column="REVIEW_CONTENT" />
		<result property="reviewDate" column="REVIEW_DT" />
		<result property="reviewStatus" column="REVIEW_STATUS" />
		<result property="reviewRatings" column="REVIEW_RATINGS" />
		<result property="classNo" column="CLASS_NO" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>

	<!-- 후기 조회 -->
	<resultMap type="Reply" id="reply_rm">
		<result property="replyNo" column="REPLY_NO" />
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="replyDate" column="REPLY_DT" />
		<result property="nestedReply" column="NESTED_REPLY" />
		<result property="classNo" column="CLASS_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="classTitle" column="CLASS_TITLE" />

	</resultMap>

	<!-- 찜하기 조회 -->
	<resultMap type="Choice" id="ch_rm">
		<result property="classNo" column="CLASS_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="categoryNm" column="CATEGORY_NAME" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="classTitle" column="CLASS_TITLE" />
		<result property="classTypeNo" column="CLASS_TYPE_NO" />
		<result property="classCreateDate" column="CLASS_CREATE_DT" />

	</resultMap>

	<!-- online 조회용 -->
	<resultMap type="Online" id="online_rm">
		<id property="classNo" column="CLASS_NO" />

		<result property="classTitle" column="CLASS_TITLE" />
		<result property="memberNickName" column="MEMBER_NICKNAME" />
		<result property="categoryNm" column="CATEGORY_NAME" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="classType" column="CLASS_TYPE_NO" />
		<result property="classReadCount" column="CLASS_READ_COUNT" />
		<result property="classCreateDate" column="CLASS_CREATE_DT" />

		<result property="classContent" column="CLASS_CONTENT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="onlineLike" column="ONLINE_LIKE" />

		<collection property="atList" column="CLASS_NO"
			javaType="java.util.ArrayList" ofType="Attachment"
			select="selectAttachment" />
	</resultMap>

	<!-- offline 조회용 -->
	<resultMap type="OfflineClass" id="offMain_rm">
		<id property="classNo" column="CLASS_NO" />

		<result property="classTitle" column="CLASS_TITLE" />
		<result property="classContent" column="CLASS_CONTENT" />
		<result property="classCreateDate" column="CLASS_CREATE_DT" />
		<result property="classReadCount" column="CLASS_READ_COUNT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="reviewRatings" column="REVIEW_RATINGS" />
		<result property="memberNickName" column="MEMBER_NICKNAME" />
		<result property="categoryName" column="CATEGORY_NAME" />
		<result property="memberProfile" column="MEMBER_PROFILE" />
		<result property="reserveDate" column="RESERVE_DATE" />
		<result property="reserveStart" column="RESERVE_START" />
		<result property="reserveEnd" column="RESERVE_END" />
		<result property="reserveLimit" column="RESERVE_LIMIT" />
		<result property="classLevel" column="CLASS_LEVEL" />
		<result property="classArea" column="CLASS_AREA" />
		<result property="paymentStatus" column="PAYMENT_STATUS" />
		<result property="classPrice" column="CLASS_PRICE" />
		<result property="reserveDate" column="RESERVE_DT" />
		<result property="count" column="XXX" />
		<result property="reserveNo" column="RESERVE_NO" />
		<collection property="atList" column="CLASS_NO"
			javaType="java.util.ArrayList" ofType="OffAttachment"
			select="selectAttachment" />
	</resultMap>



	<!-- 회원가입 -->
	<insert id="signUp" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(
		SEQ_MNO.NEXTVAL, #{memberEmail}, #{memberPw}, #{memberNickname},
		'N',
		DEFAULT, DEFAULT, DEFAULT )
	</insert>

	<!-- id 중복검사 -->
	<select id="idDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL = #{id}
	</select>

	<!-- 로그인 -->
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>

	<!-- 비밀번호 변경(조회) -->
	<select id="selectPassword" parameterType="_int"
		resultType="string">
		SELECT MEMBER_PW FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="changePwd" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_PW
		= #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- 회원정보 수정 -->
	<update id="updateInfo" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_EMAIL = #{memberEmail},
		MEMBER_NICKNAME =
		#{memberNickname}
		<if test="memberProfile != null">
			, MEMBER_PROFILE = #{memberProfile}
		</if>
		WHERE MEMBER_NO = #{memberNo}
	</update>


	<!-- 회원탈퇴 조회 -->
	<select id="selectMember" parameterType="_int"
		resultType="string">
		SELECT MEMBER_PW FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<!-- 회원탈퇴 -->
	<update id="secession" parameterType="_int">
		UPDATE MEMBER SET
		MEMBER_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- 크리에이터 회원가입 -->
	<insert id="creatorSignUp" parameterType="Member">
		INSERT INTO MEMBER
		VALUES( SEQ_MNO.NEXTVAL, #{memberEmail}, #{memberPw},
		#{memberNickname},
		'T', DEFAULT, DEFAULT, DEFAULT )
	</insert>

	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="Member" resultType="string">
		SELECT
		MEMBER_EMAIL FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND
		MEMBER_STATUS = 'Y'
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updatePw">
		UPDATE MEMBER SET MEMBER_PW = #{memberPw}
		WHERE
		MEMBER_EMAIL = #{memberEmail}
	</update>

	<!-- 비번 찾기 가입회원 조회 -->
	<select id="findMember" parameterType="Member"
		resultType="string">
		SELECT * FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>

	<!-- 카카오 로그인용 정보 조회 -->
	<select id="kakaoLogin" parameterType="Member"
		resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>

	<!-- 온라인 클래스 조회 -->
	<select id="selectOnlineList" parameterType="_int"
		resultMap="pay_rm">
		SELECT C.CATEGORY_NAME, A.PAYMENT_STATUS, A.PAYMENT_NO,
		A.CLASS_NO, A.MEMBER_NO, B.CLASS_TITLE, B.CLASS_CREATE_DT
		FROM PAYMENT
		A
		JOIN CLASS_PAGE B ON(A.CLASS_NO = B.CLASS_NO)
		JOIN CATEGORY C ON
		(B.CATEGORY_NO = C.CATEGORY_NO)
		WHERE A.PAYMENT_STATUS =
		'Y'
		AND
		A.MEMBER_NO = #{memberNo}
		ORDER BY A.CLASS_NO DESC
	</select>

	<!-- 전체 이용내역 조회 -->
	<select id="getListCount" parameterType="_int" resultMap="pg_rm">
		SELECT
		COUNT(*) CNT
		FROM CLASS_LIST
		JOIN PAYMENT USING(MEMBER_NO)
		WHERE
		CLASS_STATUS = 'Y'
		AND MEMBER_NO = #{memberNo}
	</select>

	<!-- 예약용 전체 조회 -->
	<select id="getListCount1" parameterType="_int"
		resultMap="pg_rm">
		SELECT COUNT(*) CNT FROM CLASS_LIST B
		JOIN CONFIRM_RESERVE A
		ON(A.CLASS_NO = B.CLASS_NO)
		WHERE A.MEMBER_NO = #{memberNo}
		AND
		A.RESERVE_STATUS = 'Y'

	</select>

	<!-- 리뷰용 전체 조회 -->
	<select id="getListCount2" parameterType="_int"
		resultMap="pg_rm">
		SELECT COUNT(*) CNT
		FROM CLASS_LIST A
		JOIN REVIEW B
		ON(A.CLASS_NO = B.CLASS_NO)
		WHERE B.MEMBER_NO = #{memberNo}
		AND
		B.REVIEW_STATUS = 'Y'

	</select>

	<!-- 후기용 전체 조회 -->
	<select id="getListCount3" parameterType="_int"
		resultMap="pg_rm">
		SELECT COUNT(*) CNT
		FROM CLASS_LIST A
		JOIN REPLY B
		ON(A.CLASS_NO = B.CLASS_NO)
		WHERE B.MEMBER_NO = #{memberNo}
		AND
		B.REPLY_STATUS = 'Y'

	</select>

	<!-- 오프라인 예약 클래스 전체 조회 -->
	<select id="selectReserveList" parameterType="_int"
		resultMap="res_rm">
		SELECT C.CATEGORY_NAME, A.RESERVE_STATUS, A.RESERVE_NO,
		A.CLASS_NO, A.MEMBER_NO, B.CLASS_TITLE,
		B.CLASS_CREATE_DT,
		D.RESERVE_START, D.RESERVE_END
		FROM CONFIRM_RESERVE A
		JOIN CLASS_PAGE B
		ON(A.CLASS_NO = B.CLASS_NO)
		JOIN CATEGORY C ON (B.CATEGORY_NO =
		C.CATEGORY_NO)
		JOIN RESERVE D ON(A.RESERVE_NO =D.RESERVE_NO )
		WHERE
		A.RESERVE_STATUS = 'Y'
		AND A.MEMBER_NO = #{memberNo}
		ORDER BY A.CLASS_NO
		DESC
	</select>

	<!-- 리뷰 조회 -->
	<select id="selectReviewList" parameterType="_int"
		resultMap="review_rm">
		SELECT C.CATEGORY_NAME, A.REVIEW_STATUS, A.REVIEW_NO, A.REVIEW_CONTENT,
		A.CLASS_NO, A.MEMBER_NO, B.CLASS_TITLE, B.CLASS_CREATE_DT
		FROM REVIEW A
		JOIN CLASS_PAGE B ON(A.CLASS_NO = B.CLASS_NO)
		JOIN CATEGORY C ON
		(B.CATEGORY_NO = C.CATEGORY_NO)
		WHERE A.REVIEW_STATUS ='Y'
		AND
		A.MEMBER_NO = #{memberNo}
		ORDER BY A.CLASS_NO DESC
	</select>

	<!-- 후기 조회 -->
	<select id="selectReplyList" parameterType="_int"
		resultMap="reply_rm">
		SELECT A.REPLY_STATUS, A.REPLY_NO,
		A.CLASS_NO, A.MEMBER_NO,
		B.CLASS_TITLE, A.REPLY_DT
		FROM REPLY A
		JOIN CLASS_PAGE B ON(A.CLASS_NO =
		B.CLASS_NO)
		WHERE A.REPLY_STATUS ='Y'
		AND A.MEMBER_NO = #{memberNo}
		ORDER BY A.CLASS_NO DESC

	</select>

	<!-- 예약 취소 -->
	<update id="updateReserve" parameterType="_int">
		UPDATE RESERVE SET
		RESERVE_STATUS = 'N'
		WHERE RESERVE_NO = #{reserveNo}
	</update>

	<!-- 찜하기용 전체 조회 -->
	<select id="getListCount4" parameterType="_int"
		resultMap="pg_rm">
		SELECT COUNT(*) CNT
		FROM CLASS_LIST A
		JOIN CHOICE B
		ON(A.CLASS_NO = B.CLASS_NO)
		WHERE B.MEMBER_NO = #{memberNo}

	</select>

	<!-- 찜하기 조회 -->
	<select id="selectChoiceList" parameterType="_int"
		resultMap="ch_rm">
		SELECT C.CATEGORY_NAME, A.CLASS_NO, A.MEMBER_NO,
		B.CLASS_TITLE, B.CLASS_CREATE_DT
		FROM CHOICE A
		JOIN CLASS_PAGE B
		ON(A.CLASS_NO = B.CLASS_NO)
		JOIN CATEGORY C ON (B.CATEGORY_NO =
		C.CATEGORY_NO)
		WHERE A.MEMBER_NO = #{memberNo}
		ORDER BY A.CLASS_NO DESC
	</select>

	<!-- 오프라인 예약 상세 조회 -->
	<select id="selectOfflinView" parameterType="OfflineClass"
		resultMap="offMain_rm">

		SELECT DISTINCT CLASS_NO,CLASS_AREA,CATEGORY_NAME,CLASS_TITLE,
		MEMBER_PROFILE,MEMBER_NICKNAME,CLASS_PRICE,CLASS_LEVEL,
		RESERVE_LIMIT
		FROM CLASS_PAGE
		LEFT JOIN MEMBER USING(MEMBER_NO)
		LEFT JOIN CATEGORY
		USING(CATEGORY_NO)
		LEFT JOIN RESERVE USING(CLASS_NO)
		LEFT JOIN PAYMENT
		USING(CLASS_NO)
		WHERE CLASS_NO = #{classNo}
	</select>

	<!-- 컨텐츠 조회 -->
	<select id="selectContent" parameterType="_int"
		resultMap="offMain_rm">
		SELECT CLASS_CONTENT ,MEMBER_NO FROM CLASS_PAGE WHERE
		CLASS_NO =
		#{classNo}
	</select>

	<!-- 결제 여부 조회 -->
	<select id="selectPayment" parameterType="OfflineClass"
		resultMap="offMain_rm">
		SELECT COUNT(*) XXX FROM DUAL
		WHERE (SELECT COUNT(*) FROM PAYMENT
		WHERE MEMBER_NO = #{memberNo}
		AND CLASS_NO = #{classNo}
		AND PAYMENT_STATUS = 'Y'
		AND PAYMENT_DT &lt; SYSDATE) &gt; 0

		AND (SELECT COUNT(*) FROM REVIEW
		WHERE MEMBER_NO = #{memberNo}
		AND CLASS_NO = #{classNo}
		AND REVIEW_STATUS = 'Y') = 0

	</select>
	
	
</mapper>
