<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="onNoticeMapper">

	<resultMap type="OnNotice" id="notice_rm">
		<id property="noticeNo" column="NOTI_NO"/>
		
		<result property="noticeTitle" column="NOTI_TITLE"/>
		<result property="noticeContent" column="NOTI_CONTENT"/>
		<result property="noticeCount" column="NOTI_READ_COUNT"/>
		<result property="noticeDate" column="NOTI_CREATE_DT"/>
		<result property="classNo" column="CLASS_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="classType" column="CLASS_TYPE_NO"/>
		
	</resultMap>
	
	
	
	
	<!-- =================================================== -->
	<!-- =================================================== -->
	<!-- =================================================== -->
	
	<!-- 공지사항 목록 조회 -->
<!-- 	<select id="selectNoticeList" parameterType="_int" resultMap="notice_rm">
		SELECT NOTI_NO, NOTI_TITLE, NOTI_CONTENT, NOTI_CREATE_DT, CLASS_NO, MEM.MEMBER_NO
		FROM NOTI_BOARD
    JOIN CLASS_TYPE ON BOARD_TYPE_NO = CLASS_TYPE_NO
    JOIN CLASS_PAGE CP USING(CLASS_TYPE_NO)
		JOIN MEMBER MEM ON MEM.MEMBER_NO = CP.MEMBER_NO
		WHERE NOTI_STATUS = 'Y'
		AND CLASS_NO = #{classNo}
	</select> -->
	
	<!-- 공지사항 목록 조회 -->
	<select id="selectNoticeList" parameterType="_int" resultMap="notice_rm">
		SELECT NOTI_NO, NOTI_TITLE, NOTI_CONTENT, NOTI_CREATE_DT, MEMBER_NO, CLASS_NO
		FROM CLASS_NOTICE
		WHERE NOTI_STATUS = 'Y'
		AND CLASS_NO = #{classNo}
	</select>
	
	
	<!-- 내 공지사항 목록 조회 -->
	<select id="selectMyNotice" parameterType="_int" resultMap="notice_rm">
		SELECT NOTI_NO, NOTI_TITLE, NOTI_CONTENT, NOTI_CREATE_DT, MEMBER_NO, CLASS_NO
		FROM CLASS_NOTICE
		WHERE NOTI_STATUS = 'Y'
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 공지사항 작성 -->
	<insert id="insertNotice" parameterType="OnNotice">
		INSERT INTO CLASS_NOTICE VALUES
		(SEQ_CLANOTINO.NEXTVAL, #{noticeTitle}, #{noticeContent}, 
		DEFAULT, DEFAULT, DEFAULT, #{memberNo}, #{classNo}, #{classType})
	</insert>
	
	
	<!-- 공지사항 삭제 -->
	<update id="deleteNoticeX" parameterType="OnNotice">
		UPDATE CLASS_NOTICE SET
		NOTI_STATUS = 'N'
		WHERE NOTI_NO = #{noticeNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	
	<!--  공지사항 수정(Ajax) -->
	<update id="updateNotice" parameterType="OnNotice">
		UPDATE CLASS_NOTICE SET
		NOTI_TITLE = #{noticeTitle},
		NOTI_CONTENT = #{noticeContent}
		WHERE NOTI_NO = #{noticeNo}
	</update>
	
	<!-- 공지사항 삭제(Ajax) -->
	<update id="deleteNotice" parameterType="_int">
		UPDATE CLASS_NOTICE SET
		NOTI_STATUS = 'N'
		WHERE NOTI_NO = #{noticeNo}
	</update>
</mapper>
