<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="onReviewMapper">

	<resultMap type="OnReview" id="review_rm">
		<id property="reviewNo" column="REVIEW_NO"/>
		
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewDate" column="REVIEW_DT"/>
		<result property="reviewRatings" column="REVIEW_RATINGS"/>
		<result property="classNo" column="CLASS_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
	</resultMap>
	
	<select id="selectList" parameterType="_int" resultMap="review_rm">
		SELECT REVIEW_NO, REVIEW_CONTENT, REVIEW_RATINGS, REVIEW_DT, CLASS_NO, 
		MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE
		FROM REVIEW
		JOIN MEMBER USING(MEMBER_NO)
		WHERE REVIEW_STATUS = 'Y'
		AND CLASS_NO = #{classNo}
	</select>
	
</mapper>
